[submodule "projects/use-wallet"]
	path = projects/use-wallet
	url = git@github.com:tasosbit/use-wallet.git
[submodule "projects/use-wallet-ui"]
	path = projects/use-wallet-ui
	url = git@github.com:tasosbit/use-wallet-ui.git
